<div class="container text-center">
  <div class="row">
    <h1 class="mt-4 mb-4">Hey you</h1>
    <img src="https://www.letelegramme.fr/images/2019/09/12/pascal-soetens-a-anime-des-emissions-de-coaching-aupres_4797240.jpg" class="col-12">
  </div>
  <form action="/answer" class="row form-background p-4">
    <div class="container col-6">
      <label for="userinput" class="form-label col-3">What you need?</label>
      <input type="text" name="userinput" id="userinput" class="form-control col-6" placeholder="What is your query?">
      <input type="submit" class="col-3 btn btn-primary mt-3" value="Ask!">
    </div>
    <!-- Ne pas mettre de name sur les submits !-->
  </form>

</div>
