// Place all the styles related to the Question controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h1 {
  font-family: 'Montserrat', sans-serif;
  font-family: 'Open Sans', sans-serif;
}
label {
  font-family: 'Montserrat', sans-serif;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}
.form-background {
  background-color: lavender;
}
.btn a, .btn a:hover, .btn a:active {
  font-family: 'Montserrat', sans-serif;
}
